header {font-family: 'Irish Grover', cursive;
color: orange;
text-align: center;
padding: 5% 5% 0px 5%;
font-size: 95px;
height: 120vh;}
/*adattamento pag. lezione 27/04/2022 min 1:35*/

body {font-family: 'Lato', sans-serif;}